<div ng-controller="mainctrl" class="container">
  <div class="form-group">
    <label for="pi">Id:</label>
    <input type="text" class="form-control" id="pi" placeholder="id" ng-model="id">
  </div>
  <div class="form-group">
    <label for="rn">Number:</label>
    <input type="number" class="form-control" id="rn" placeholder="number" ng-model="number">
  </div>
  <button class="btn btn-success btn-block" ng-click="click()" href="#gaming">进入</button>
  <div class="test" ng-hide="show"></div>
</div>